header {
  height: 50px;
  width: 100%;
  background-color: rgba(37, 106, 202, 1);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

header > p {
  margin-bottom: initial;
  margin-left: 10px;
}

.title {
  width: auto;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  font-size: 50px;
}

.box {
  width: 40vw;
  height: auto;
  margin: auto;
}

footer {
  height: 50px;
  width: 100vw;
  background-color: rgba(37, 106, 202, 0.842);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_button {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.edit_button {
  margin: 10px;
  display: flex;
  justify-content: center;
}