header {
  height: 50px;
  width: 100%;
  background-color: rgba(37, 106, 202, 1);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > p {
  margin-bottom: initial;
  margin-left: 10px;
}

.header_right > a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.title {
  width: auto;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  font-size: 50px;
}

.box {
  width: 40%;
  height: auto;
  margin: auto;
}

.error {
  width: 50%;
  margin: auto;
  text-align: center;
  border: 2px solid rgb(210, 105, 105);
  border-radius: 5px;
  background-color: rgb(231, 142, 142);
}

.error > p {
  margin-bottom: initial;
}

footer {
  height: 20px;
  width: 100%;
  background-color: rgba(37, 106, 202, 1);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_button {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.edit_button {
  margin: 10px;
  display: flex;
  justify-content: center;
}

#posts:hover {
  border-width: 3px;
}